# Typical Python-Vscode project .gitignore
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

build/
dist/
*.egg-info/
*.egg

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.vscode/
*.swp

.DS_Store
Thumbs.db

*.bak
*.backup
*.old
*.orig
*~
*.swp
*.swo
*.log
*.out
